/* INIZIO RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fine RESET CSS */

body {
	background: url(../images/background/grey_wash_wall.png) repeat center #333;
}
#dataPath {
	margin: 0 20%;
}

/* pot per disp. mobili */
/* == iPad [portrait + landscape] == */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
#dataPath {
	margin: 0 10%;
}
.nav {
	right: -2%;
}
}
#dataPath section {
	padding-top: 6em;
	padding-bottom: 6em;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 3em 0;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	position: relative;
}
#dataPath section .innerSection {
	margin-left: 3em;
	margin-right: 3em;
}
/* TYPO */
#dataPath {
	font-family: edelsansregular, fontin_sans_rgregular, sans-serif;
	font-size: 0.95em;
	line-height: 1.5em;
}
/* FINE TYPO */



/* IMPAGINAZIONE INFO */
.info {
	position: absolute;
	color: #777
}
.titolo {
	top: 20px;
	left: 0;
	width: 100%;
	text-align: center;
}
.titoloCap {
	top: 45px;
	left: 0;
	width: 100%;
	text-align: center;
}
.capNumber {
	bottom: 1%;
	right: 3%;
}
.autore {
}
/*IMPAGINAZIONE TESTO */
#dataPath p {
	margin-bottom: 10px;
}
/* INTERFACCIA */
.nav {
	position: fixed;
	right: 10%;
	background: url(../images/interface/topBottom.png) no-repeat center;
	width: 64px;
	height: 64px;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	cursor: pointer;
	z-index: 10000;
}
.nav:hover, .nav.active {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
#prevNav {
	top: 10px;
	background-position: top center;
}
#postNav {
	top: 90px;
	background-position: bottom center;
}
#configBookButton {
	top: 180px;
	background: url(../images/interface/config.png) no-repeat center;
}

#indexButton {
	top: 270px;
	background: url(../images/interface/index.png) no-repeat center;
	display: block!important;
}
#progressPrercent {
	top:360px;
	background: url(../images/interface/general.png) no-repeat center;
	}
#progressPrercent span{ color:#fff; padding:20px 0; text-align:center; display:block;}


/* pannello di configurazione */
.wrapConfigBook {
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	display: none;
}
#configBook {
	font-family: edelsansregular, fontin_sans_rgregular, sans-serif;
	width: 390px;
	background: url(../images/interface/000a80.png) repeat center;
	border: 1px solid #222;
	border-top: none;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	margin: 0 auto;
	top: 0;
	-webkit-border-bottom-right-radius: 11px;
	-webkit-border-bottom-left-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
}
.wrapInnerConfigBook {
	padding: 10px 18px;
	margin: 25px;
	margin-top: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-bottom-right-radius: 11px;
	-webkit-border-bottom-left-radius: 11px;
	-moz-border-radius-bottomright: 11px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-right-radius: 11px;
	border-bottom-left-radius: 11px;
}
#configBook .row {
	height: 50px;
	clear: left;
}
#configBook .row span {
	float: left;
	padding: 17px 0;
	margin-right: 17px;
	width: 180px;
}
#configBook .row i {
	width: 48px;
	height: 48px;
	float: left;
	margin: 2px;
	-moz-opacity: 0.80;
	opacity: 0.80;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
	cursor: pointer;
}
#configBook .row i:hover {
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
#configBook .row i.plus {
	background: url(../images/interface/round_plus_less.png) no-repeat top center;
}
#configBook .row i.less {
	background: url(../images/interface/round_plus_less.png) no-repeat bottom center;
}
/* fine pannello di configurazione */

/* cover */
#cover {
	margin: auto;
	cursor: pointer;
	position: absolute;
	width:485px;
	height:700px;
	overflow:hidden;
	padding:20px;
	margin-left:-252px;
	margin-top:-360px;
	top:50%;
	left:50%;
	
}
#cover img {
	display: block;
}


#cover .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit;
	border: 1px solid #ccc;
	background: #6b7077;
	text-align: center;
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	box-shadow: 0 1px 5px rgba(0,0,0,0.9);
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
}
#cover.flip .front {
	z-index: 900;
	border-color: #eee;
	background: #333;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
#cover .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;
	height: inherit;
	border: 1px solid #ccc;
	background: #333;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	-moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
	box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.85);
}
#cover.flip .back {
	z-index: 1000;
	background: #fff;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
#indice .innerIndice {
	text-align: center;
	padding: 20px;
}
#indice .innerIndice h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}
#indice .listaIndice { font-size:0.8em; line-height:2!important;}
.listaIndice a {text-decoration:none; color:#000;}
.listaIndice a:hover {text-decoration:underline;}
